Bonitet.Web_Backup-27.05.2015/Bonitet.ConsoleTest/Service References/ServiceReference1/XmlWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://e-test.crm.com.mk/XWSS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://e-test.crm.com.mk/XWSS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://e-test.crm.com.mk/XWSS/">
      <s:element name="ProcessRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlSoapHeader" type="tns:XmlSoapHeader" />
      <s:complexType name="XmlSoapHeader">
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ProcessSignedRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessSignedRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessSignedRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessRequestXmlSoapHeader">
    <wsdl:part name="XmlSoapHeader" element="tns:XmlSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ProcessSignedRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessSignedRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessSignedRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessSignedRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessSignedRequestXmlSoapHeader">
    <wsdl:part name="XmlSoapHeader" element="tns:XmlSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="XmlWebServiceSoap">
    <wsdl:operation name="ProcessRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CRM Web Services</wsdl:documentation>
      <wsdl:input message="tns:ProcessRequestSoapIn" />
      <wsdl:output message="tns:ProcessRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessSignedRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CRM Web Services</wsdl:documentation>
      <wsdl:input message="tns:ProcessSignedRequestSoapIn" />
      <wsdl:output message="tns:ProcessSignedRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XmlWebServiceSoap" type="tns:XmlWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="https://e-test.crm.com.mk/XWSS/ProcessRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ProcessRequestXmlSoapHeader" part="XmlSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ProcessRequestXmlSoapHeader" part="XmlSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSignedRequest">
      <soap:operation soapAction="https://e-test.crm.com.mk/XWSS/ProcessSignedRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ProcessSignedRequestXmlSoapHeader" part="XmlSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ProcessSignedRequestXmlSoapHeader" part="XmlSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XmlWebServiceSoap12" type="tns:XmlWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap12:operation soapAction="https://e-test.crm.com.mk/XWSS/ProcessRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProcessRequestXmlSoapHeader" part="XmlSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProcessRequestXmlSoapHeader" part="XmlSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSignedRequest">
      <soap12:operation soapAction="https://e-test.crm.com.mk/XWSS/ProcessSignedRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProcessSignedRequestXmlSoapHeader" part="XmlSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ProcessSignedRequestXmlSoapHeader" part="XmlSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XmlWebService">
    <wsdl:port name="XmlWebServiceSoap" binding="tns:XmlWebServiceSoap">
      <soap:address location="https://e-test.crm.com.mk/XWSS/XmlWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="XmlWebServiceSoap12" binding="tns:XmlWebServiceSoap12">
      <soap12:address location="https://e-test.crm.com.mk/XWSS/XmlWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>